@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@400;600&display=swap');

body {
  font-family: "Raleway", sans-serif;
  background-color: #eee;
}

.page-title{
  font-family: "Pacifico", coursive;
  margin: 4rem 0 4rem 0;
}

.edit::before{
  content: "\F4CB";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
}

.edit:hover::before{
  content: "\F4C9";
}

.trash::before{
  content: "\F5DE";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
}

.trash:hover::before{
  content: "\F5DD";
}
